.container {
  background-color: #f2f2f2;
  width: 65%;
  margin-left: 4%;
  box-shadow: 5px 5px 0px #999999;
}

.css-11yukd5-MuiTabs-indicator {
  background-color: #b7d4ee !important;
}

.css-1su9lvs-MuiPaper-root-MuiAppBar-root {
    box-shadow: none !important;
}
