.footer {
  text-align: center;
  background-color: rgb(255, 255, 255, 0.2);
  height: 35px;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  color: grey;
}

.footer h4 {
  margin: 0 0 2px 0;
  padding: 0;
}
.footer p {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.footer a {
  color: grey;
  text-decoration: none;
}
