/* Card Container */

.card {
  background-color: rgb(183, 212, 238);
  box-shadow: 5px 5px 0px #999999;
  padding: 20px;
  width: 35%;
}

/* Word and Phonetic Container */

.word-container {
  background-color: #ebebeb;
  border-radius: 16px;
  padding: 30px 0;
}

.word-container h1 {
  font-size: 3.125rem;
  margin: 0;
  text-align: center;
}

.word-container h2 {
  color: grey;
  margin: 0;
  text-align: center;
}

/* Player Container  */

.player-container {
  width: 100%;
  margin: 20px 0 20px 0;
}

/* Meaning Container  */

.meaning-container {
  background-color: #ebebeb;
  border-radius: 16px;
  padding: 15px 15px;
  margin: 0 auto 20px auto;
}

.meaning-container h2 {
  margin: 0;
}

.meaning-container p {
  color: grey;
  margin: 15px 0 0 0;
}

/* Buttons Container */

.btns-container {
  display: flex;
  justify-content: space-between;
}
