/* Card Container */

.card {
  background-color: rgb(183, 212, 238);
  box-shadow: 5px 5px 0px #999999;
  padding: 20px;
  width: 35%;
}

/* Favorite Button */

.favorite {
  text-align: right;
}

/* Word and Phonetic Container */

.word-container {
  background-color: #ebebeb;
  border-radius: 16px;
  padding: 30px 0;
  padding-top: 0px;
}

.word-container h1 {
  font-size: 3.125rem;
  margin: 0;
  text-align: center;
}

.word-container h2 {
  color: grey;
  margin: 0;
  text-align: center;
}

/* Player Container  */

.player-container {
  width: 100%;
  margin: 20px 0 20px 0;
}

/* Meaning Container  */

.meaning-container {
  background-color: #ebebeb;
  border-radius: 16px;
  padding: 15px 15px;
  margin: 0 auto 0px auto;
}

.meaning-container h2 {
  font-size: 30px;
  margin: 0;
}

.meaning-container p {
  font-size: 18px;
  color: grey;
  margin: 20px 0 20px 0;
}

/* Buttons Container */

.btns-container {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

/* Audio Player  */

.audio-player {
  padding: 9px 15px 15px 15px;
  height: 40px;
  background-color: #ebebeb;
  border-radius: 15px;
  /* text-align: center; */
  margin: 20px 0 20px 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;

}

.player-btn {
  height: 50px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

/* .current-time,
.duration {
  font-weight: 500;
  color: grey;
  font-size: 12px;
} */

/* .progress-bar {
  appearance: none;
  margin: 10px;
  border-radius: 5px;
  background-color: grey;
  height: 3px;
  outline: none;
} */

/* .progress-bar::before {
 content: '';
 height: 5px;
 background-color: grey;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 2;
 cursor: pointer;
} */

/* .progress-bar::-webkit-slider-thumb {
-webkit-appearance: none;
height: 10px;
width: 10px;
border-radius: 50%;
border: none;
background-color: black;
 } */

