body {
  font-family: "Roboto", sans-serif;
  background-image: url("./assets/images/cloud-background.jpeg");
  height: 100%;
}
.word-list-container {
  display: flex;
  margin: 3% auto;
  max-width: 80%;
  padding: 0;
}
