body {
  font-family: "Roboto", sans-serif;
  background-image: url("./assets/images/cloud-background.jpeg");
  background-repeat: repeat;
  background-size: cover;
}

.word-list-container {
  height: 490px;
  display: flex;
  margin: 5% auto 5% auto;
  max-width: 80%;
  padding: 0;
}
